.startpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/negative-space-black-forest-dawn.jpg);
  height: 100vh;
  background-color: black;
  background-position: center;
  background-size: cover;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .startpage-container {
    background-position: inherit;
  }
}

header {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 8vh;
}

#toggle {
  display: none;
}

.hamburger {
  position: absolute;
  top: 5em;
  margin-right: 0;
  margin-left: 0;
  margin-top: -80px;
  padding-bottom: 10px;
  width: 100%;
  height: 45px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger div {
  position: relative;
  width: 2.2em;
  height: 6px;
  border-radius: 3px;
  margin-top: 6px;
  margin-right: 5%;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .hamburger div {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  nav {
    padding: 20px;
  }
}

.nav {
  width: 100%;
  height: min-content;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  text-align: center;
  margin-top: 8vh;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .nav {
    margin-top: 0;
    top: 0;
    transform: scale(1);
    opacity: 1;
    text-align: right;
  }
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 768px) {
  .nav-wrapper {
    background-color: transparent;
  }
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  display: block;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 768px) {
  nav a {
    display: inline;
    padding: 20px;
    font-size: 1rem;
  }
}

nav a:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  nav a:before {
    display: none;
  }
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav a:hover:before {
  height: 100%;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.welcome {
  width: 80%;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.welcome__heading {
  /*margin-top: -60px;
  margin-bottom: 50px;*/
  font-size: 2rem;
  margin-bottom: 0;
}
.welcome__text {
  display: block;
  /*margin-top: 20px;*/
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .welcome__heading {
    font-size: 1.5rem;
  }
  .welcome__text {
    font-size: 1.1rem;
  }
}

.arrow-down {
  color: white;
  padding-bottom: 36px;
}

.team,
.tm-rakib,
.tm-alexandra,
.tm-lasse,
.tm-sebastian {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.team {
  font: black;
  display: grid;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
  }
}
.team__about {
  background-color: lightgray;
  border-radius: 5px;
  width: 80%;
  text-align: left;
}
.team__text {
  margin: 20px 30px 30px 30px;
}

.tm-rakib,
.tm-alexandra,
.tm-lasse,
.tm-sebastian {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .tm-rakib {
    grid-column-start: 1;
  }
}

@media screen and (min-width: 768px) {
  .tm-alexandra {
    grid-column-start: 2;
  }
}

.image-cropper {
  width: 250px;
  height: 250px;
  margin: 0px 0px 25px 0px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 54px 20px, rgba(14, 30, 37, 0.32) 0px 2px 30px 3px;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  border-radius: 50%;
}

.arrow-down-team {
  color: black;
}

footer {
  background-color: black;
  width: 100%;
  color: white;
  display: grid;
  margin-top: 30px;
}

.contact {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contact {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.address,
.mail-phone,
.soc-med {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .address,
.mail-phone,
.soc-med {
    margin: 0;
    font-size: 2rem;
  }
}
.address__text,
.mail-phone__text,
.soc-med__text {
  margin-bottom: 15px;
}

.arrow-down {
  font-size: 1.7rem;
}
.arrow-down a {
  color: white;
}
@media screen and (min-width: 768px) {
  .arrow-down {
    font-size: 1.1rem;
  }
}

.arrow-down-team {
  font-size: 1.6rem;
}
.arrow-down-team a {
  color: black;
}
@media screen and (min-width: 768px) {
  .arrow-down-team {
    font-size: 1.1rem;
  }
}

.team .bi {
  font-size: 3rem;
  display: inline-block;
  transform: rotate(180deg);
}

.soc-med__text .bi {
  margin-right: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=main.css.map */
