@use "mixins" as mix;

.arrow-down {
    font-size: 1.7rem;
    a {
        color: white;
    }

    @include mix.tablet {
        font-size: 1.1rem;
    }
} 

.arrow-down-team {
    font-size: 1.6rem;
    a {
    color: black;
    }

    @include mix.tablet {
        font-size: 1.1rem;
    }
}

.team .bi {
font-size: 3rem;
display: inline-block;
transform: rotate(180deg);
}

.soc-med__text .bi {
 margin-right: 15px;   
}

